/selca/bin/Debug/WindowsInput.dll
/selca/bin/Debug/WindowsInput.pdb
/selca/bin/Debug/WindowsInput.xml
/selca/bin/Debug/selca.exe
/selca/bin/Debug/selca.exe.config
/selca/bin/Debug/selca.pdb
/selca/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/selca/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/selca/obj/Debug/selca.csproj.CopyComplete
/selca/obj/Debug/selca.csproj.CoreCompileInputs.cache
/selca/obj/Debug/selca.csproj.FileListAbsolute.txt
/selca/obj/Debug/selca.csprojAssemblyReference.cache
/selca/obj/Debug/selca.exe
/selca/obj/Debug/selca.pdb
/packages/InputSimulator.1.0.4.0/.signature.p7s
/packages/InputSimulator.1.0.4.0/InputSimulator.1.0.4.0.nupkg
/packages/InputSimulator.1.0.4.0/lib/net20/WindowsInput.dll
/packages/InputSimulator.1.0.4.0/lib/net20/WindowsInput.xml
/.vs/selca/v16
